html, body {
  font-family: "Lobster", "Open Sans", sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.work {
  padding-top: 80px;
}

@media only screen and (max-width: 900px) {
  ul {
    display: block;
  }
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #FFC300;
}

nav {
  text-align: center;
  position: fixed;
  width: 100%;
  background: rgba(199, 0, 57, 0.5);
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 50px;
}
nav > ul > li {
  float: left;
  width: 300px;
  height: 60px;
  line-height: 65px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#welcome-section {
  min-height: 55vh;
  padding-top: 45vh;
  top: 0;
  background: #D05A00;
}
#welcome-section h1 {
  color: white;
  font-size: 70px;
}

#contact {
  padding-bottom: 10px;
  width: 100%;
}
#contact h2 {
  padding-bottom: 20px;
}
#contact a {
  min-height: 10vh;
  margin: 0 35px 45px 35px;
  display: inline-block;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border: 2px solid yellow;
  border-radius: 100%;
  color: black;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
}
#contact a:hover {
  border-color: green;
  background: green;
  color: white;
}

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

footer {
  background: #FFC300;
  color: black;
  padding: 5px;
}
